LOG_VIEWER_HOST=0.0.0.0
LOG_VIEWER_PORT=3002
LOG_VIEWER_LOG_LEVEL=INFO
LOG_VIEWER_DEFAULT_TAIL=200
LOG_VIEWER_MAX_BUFFER=5000
LOG_VIEWER_HEARTBEAT_SEC=15
LOG_VIEWER_PROJECT_NAME=unibot
DOCKER_GID=986
